
body, html {
  height: 100%;
  background: gray;
}

.jumbotron {
  background-image:url('../img/christmas_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.adittional-text{
  position: relative;
  font-size: 16px;
  color: whitesmoke;
}
.md-primary button{
  background: #fff;
}
.dialog{
  background: #fff
}
.dialog-toolbar{
  background: gray;
}
.black-text{
  color: black;
}