<md-dialog aria-label="Selecciona los jugadores" class=" _md md-transition-in" role="dialog" tabindex="1" aria-describedby="dialogContent_42" style>
        <form class="dialog ng-pristine ng-valid">
            <md-toolbar class="dialog-toolbar _md _md-toolbar-transitions">
                <div class="md-toolbar-tools">
                    <h2>Selecciona los jugadores</h2>
                    <span flex="" class="flex"></span>
                    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="cancel()">
                        <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog" class="ng-scope" role="img"></md-icon>
                    </button>
                </div>
            </md-toolbar>
            <md-dialog-content id="dialogContent_42">
                <div class="md-dialog-content">
                    <h2>Jugadores</h2>
                    <div>
                        <md-input-container flex-gt-sm>
                            <label>Nombre del jugador</label>
                            <input ng-model="user.name">
                        </md-input-container>
                        <md-input-container flex-gt-sm>
                                <label>Mail del jugador</label>
                                <input ng-model="user.mail">
                            </md-input-container>
                        <button type="button" class="md-button">Agregar</button>
                    </div>
                </div>
            </md-dialog-content>
        
            <md-dialog-actions layout="row" class="layout-row">
                <button class="black-text md-button md-ink-ripple" type="button" ng-click="cancel()">
                    <span class="ng-scope">Cancelar</span>
                </button>
                <button class="black-text md-button md-ink-ripple" type="button" ng-click="answer()">
                    <span class="ng-scope">Listo</span>
            </button>
            </md-dialog-actions>
        </form>
    </md-dialog>